.principal-page {
  flex-grow: 1;
  height: 100vh;
  width: 100vw;
}

.principal-page h1 {
  text-align: center;
  margin: 2rem;
}

.searcher {
  max-width: 70%;
}

.list-events {
  /* background: linear-gradient(to top left, #fcbf49, 30%, #eae2bf); */
  background: linear-gradient(to top, #4785c4, white);
  height: 100%;
}
