.principal-page {
  flex-grow: 1;
  height: 100vh;
  width: 100vw;
}
.principal-page h1 {
  text-align: center;
  margin: 2rem;
}
.searcher {
  max-width: 70%;
}
.list-events {
  height: 100%;
  width: fit-content;
}
