.new-post {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  background: linear-gradient(to top, #4785c4, white);
}

.post-btn {
  width: 40%;
  height: 10%;
  font-size: 19px;
  font-weight: bold;
  align-self: center;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}
