.searcher {
  margin: 2rem;
  width: 70%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searcher input {
  width: 50%;
  font-size: 17px;
}

.searcher > .svg {
  min-width: 40px;
  min-height: 40px;
  border: none;
  background-color: transparent;
}
