.deletePage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.delete-items {
  width: 80%;
  height: fit-content;
  margin: 1rem;
  padding-top: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.delete-text {
  font-size: 20px;
}
