.single-event {
  border-radius: 12px;
  box-shadow: 0 0 15px rgb(29, 123, 238);
  width: 350px;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.415);
  opacity: 90%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.single-event .event-body .descriptionP {
  display: none;
}

.eventFooter {
  display: flex;
  gap: 1rem;
  padding-right: 1.7rem;
}

.if-user-btns {
  display: flex;
  margin: 20px;
  justify-content: space-around;
}
.attendees-count {
  display: flex;
  justify-content: space-evenly;
}

.p-link,
.attendee-btn,
.delete-btn {
  width: 90px;
  height: 3rem;
  color: rgb(20, 20, 20);
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

.p-link {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: rgb(17, 17, 165);
}

.attendee-btn {
  background-color: rgb(128, 236, 128);
}

.delete-btn {
  background-color: rgb(235, 76, 76);
}
