.event-body {
  height: 450px;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.event-body .descriptionP {
  padding: 0.5rem;
  text-align: justify;
}
.event-body .dataP {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  margin-left: 5rem;
}

.event-image {
  width: 100%;
  height: 300px;
}
